<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,email=no">
  <title>乌猪认筹</title>
  <%= require(`../../common/_meta.html`) %>
</head>

<body>
  <div class="swiper-container page">
    <div class="swiper-wrapper">
      <!-- 01-->
      <section class="swiper-slide  page01 " data-history="1">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>
        <h1 class="box p01-1 title" data-animate=' animated zoomIn'>
          福建上杭 "<strong>乌猪</strong>"
          <span class='block text-center'>开始认养啦！</span>
        </h1>
        <div class="box p01-2 box-center" data-animate=' animated zoomIn delay1' data-again="animated pulse loop">
          <img class='swiper-lazy' data-src="<%= require(`assets/images/c1.png`) %>" alt="乌猪">
        </div>
        <a class="goto" data-animate='animated fadeInUp delay2'>
            <span class="animated fadeIn loop "></span>
            <span class="animated fadeIn loop delay1"></span>
            <!--<span class="animated fadeIn loop delay2"></span>-->
        </a>
      </section>
      <!--02-->
      <section class="swiper-slide  page02 " data-history="2">
        <div class="swiper-lazy-preloader"></div>

        <div class="animated loop xy"></div>
        <h2 class="title p02-1" data-animate='animated zoomIn'>自我介绍</h2>
        <div class="box p02-2 box-center" data-animate='animated zoomIn delay1' data-again="animated pulse loop">
          <img class='swiper-lazy' data-src="<%= require(`assets/images/c1.png`) %>" alt="槐猪">
        </div>
        <p class='p02-3 container font-plus bold ' data-animate=' animated bounceInUp delay2'>
          乌猪，又名槐猪，中国优良品种猪之一，闽西龙岩上杭有着1000多年的养殖历史，福建省唯一列入“国家级畜禽品种资源保护名录”的地方优良品种猪。
        </p>

      </section>
      <!--03-->
      <section class="swiper-slide page03 " data-history="3">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>
        <h2 class="title p03-1" data-animate='animated swing'>招待贵宾 上等菜肴</h2>
        <div class="box p03-2 box-center" data-animate='animated zoomIn delay1' data-again="animated pulse loop">
          <img class='swiper-lazy' data-src="<%= require(`assets/images/c3-1.png`) %>" alt="乌猪肉">
        </div>
        <ul class="box p03-3">
          <li data-animate='animated bounceInLeft delay2'>肉质优</li>
          <li data-animate='animated bounceInRight delay3'>氨基酸含量高</li>
          <li data-animate='animated bounceInLeft delay4'>肌纤维细</li>
          <li data-animate='animated bounceInRight delay5'>胆固醇低</li>
          <li data-animate='animated bounceInLeft delay6'>营养丰富</li>
          <li data-animate='animated bounceInRight delay7'>口感细腻</li>
        </ul>

      </section>
      <!--04-->
      <section class="swiper-slide page04 " data-history="4">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>
        <h3 class=" title p04-1" data-animate='animated swing'>我吃得好
          <span class="block">是为了您吃得更好</span>
        </h3>
        <div class='box p04-2 box-center' data-animate='animated fadeInUp delay1'>
          <img class='swiper-lazy' data-src="<%= require(`assets/images/c4.png`) %>" alt="">
        </div>
        <ul class='container p04-3 box'>
          <li data-animate='animated fadeInRight delay2'>
            <h4>食物</h4>
            芦苇打成浆的饲料，无污染的山泉水
          </li>
          <li data-animate='animated fadeInRight delay3'>
            <h4>环境</h4>
            听音乐慢慢长大，呼吸山区新鲜空气
          </li>
        </ul>
      </section>
      <!--05-->
      <section class="swiper-slide page05" data-history="5">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>

        <h3 class='title p05-1' data-animate='animated swing'>如何认养
        </h3>
        <div class='box p05-2 box-center' data-animate='animated swing'>
          <img class='swiper-lazy' data-src="<%= require(`assets/images/c5.png`) %>" alt="环境">
        </div>
        <ul class="container p05-3">
          <li data-animate='animated fadeInRight delay1'>一、给小猪取个名字</li>
          <li data-animate='animated fadeInRight delay2'>二、套上小猪的身份证</li>
          <li data-animate='animated fadeInRight delay3'>三、我们养好了送到您家里</li>
        </ul>
      </section>
      <!--06-->
      <section class="swiper-slide page06" data-history="6">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>
        <h3 class=" title p06-1" data-animate='animated flipInX'>后续服务
        </h3>
        <ul class='container  p06-2 list'>
          <li data-animate='animated fadeInRight delay1'><i></i><span>年底</span></li>
          <li data-animate='animated fadeInRight delay2'><i></i><span>我们会将活猪从上杭养殖基地运送到厦门</span></li>
          <li data-animate='animated fadeInRight delay3'><i></i><span>屠宰后送至自有工厂冷链排酸</span></li>
          <li data-animate='animated fadeInRight delay4'><i></i><span>再进行肉的细分割</span></li>
          <li data-animate='animated fadeInRight delay5'><i></i><span>最后将槐猪鲜肉分装成礼盒送到您的手上</span></li>
        </ul>
        <div class="box p06-3">
          <img data-animate='animated fadeInLeft delay6' class='swiper-lazy' data-src="<%= require(`assets/images/c6_b1.png`) %>" alt="家宴">
          <img data-animate='animated fadeInRight delay6' class='swiper-lazy' data-src="<%= require(`assets/images/c6_b2.png`) %>"
            alt="年货">
        </div>
        <p class="container" data-animate='animated fadeInUp delay7'>
          您既可以享受一个生态、健康的槐猪肉年夜饭， 又可以将好肉分享给亲朋好友！
        </p>
      </section>
      <section class="swiper-slide page07 " data-history="7">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>
        <h2 class=" title p7-1" data-animate='animated rollIn'>只需2999元
          <span class="block">
            即可认筹
          </span>
        </h2>
        <ul class="container">
          <li data-animate='animated bounceInRight delay1'>
            <h5>回报一</h5>
            认筹认养2-3个月的槐猪小猪仔一只，将于2018年春节前获得130斤左右的成年槐猪一头。
          </li>
          <li data-animate='animated bounceInRight delay2'>
            <h5>回报二</h5>
            送30斤自家菜篮的当季绿色蔬菜及一只全放养土鸡。
          </li>
        </ul>
        <div class="box box-center" data-animate='animated zoomIn delay3' data-again=' animated pulse loop'>
          <img class='swiper-lazy' data-src="<%= require(`assets/images/c7.png`) %>" alt="猪仔">
        </div>
      </section>
      <!--08-->
      <section class="swiper-slide page08 " data-history="8">
        <div class="swiper-lazy-preloader"></div>
        <div class="animated loop xy"></div>
        <div class="container" data-animate='animated bounceInUp '>
          <h2 class=" title p08-1">支付联系方式</h2>
          <ul class=" list">
            <li><i></i><span>可以支付</span></li>
            <li><i></i><span>支付后，直接通过银联冻结，保障客户资金安全</span></li>
            <li><i></i><span>丘旭辉先生</span></li>
            <li><i></i><a href='tel:18006007838'>18006007838</a></li>
          </ul>
          <div class="box img ">
            <img class=' swiper-lazy' data-src="<%= require(`assets/images/qr.png`) %>" alt="QR">
          </div>
        </div>
      </section>

    </div>
    <!-- 如果需要分页器 -->
    <!--<div class="swiper-pagination"></div>-->
  </div>
  <div class="mask" id='mask'>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>

</html>